main {
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  font-family: "DejaVu Sans", sans-serif;
  grid-template-areas:
    "header header header"
    "right contain left1"
    "right contain left2"
    "right footer footer"
;
  grid-template-rows:
    [start] 1fr [contain-start] 2fr 1fr 1fr [end];
  grid-template-columns:
    [start] 1fr [contain-start] 3fr 1fr [end];
}

main > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
}

/*define areas*/

header{
  grid-area: header;
}
aside:first-of-type{
  grid-area: right;
}

article{
  grid-area: contain;
}

aside:nth-of-type(2){
  grid-area: left1;
}

aside:last-of-type{
  grid-area: left2;
}

footer{
  grid-area: footer;
}