main {
    height: 100vh;
    background-color: aqua;
    display: grid;
    grid-gap: 10px;
    /*grid-template-columns: 100px 100px 100px 100px;*/
    grid-template-columns: repeat(4, 100px);
    /*grid-template-rows: 100px 100px 100px;*/
    grid-template-rows: repeat(3, 100px);
}

div {
    border: solid 1px #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}

@media (max-width: 600px) {
    div:nth-child(10) {
        background-color: purple;
        color: white;
        /*grid-column-start: 3;*/
        /*grid-column-end: 5;*/
        grid-column: 3/5;
    }

    div:nth-child(6) {
        background-color: red;
        color: white;
        grid-column: 2/3;
        grid-row: 2/4;
    }
}

